@model Project_Optiek.Models.Bril

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bril</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrilType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrilType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sterkte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sterkte.SterkteID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prijs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prijs)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
